@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
body {
     background-color: aliceblue;
     color: rgba(51, 31, 2, 0.884);
    |font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.avatar {
    width: 100;
    border-radius: 50px;
    text-align: center;
    display: block;margin: auto;
}

.a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: rgb(117, 40, 27);
}
a:visited {
    color: rgb(117, 40, 27);
}

p {text-align: justify;}

.Underline {
    text-decoration-line: underline;
}

.container {
    max-width: 75%;
    margin: auto;}

.margin-contents {
    margin: 15px;
    border-style: double;
    border-width: 5px;
    border-color: rgb(131, 62, 62);
}
 
    